{% extends '/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ block('navbar', "/blocks/navbar.html.twig") }}
    <div>
        test
    </div>
{% endblock %}
