{% extends '/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="main">
        <h1>Qui sommes nous ?</h1>
        <p>MegaProduction est une société de production créée en 2003, spécialisée dans les domaines culturels tels que le spectacle vivant, l'image et la musique. Elle collabore avec des artistes tels que danseurs, musiciens, chorégraphes, compositeurs, réalisateurs et photographes, en leur fournissant un soutien administratif, une diffusion, du matériel et des outils de travail, ainsi qu'une gestion des tournées, des diffusions et des communications.</p>
        <br />
        <p>L'entreprise favorise la coopération entre les différents secteurs et encourage les échanges interdisciplinaires. Les bureaux sont partagés entre les secteurs, les compétences sont échangées et les savoir-faire d'un domaine sont mis à disposition d'un autre. Travailler avec MegaProduction signifie donc collaborer avec une équipe unie, où les interactions sont productives.</p>
        <br />
        <p>MegaProduction souhaite a créé un site Internet de castings qui soit transparent, professionnel et digne de confiance. Nous vérifiont systématiquement les informations des professionnels qui souhaitent publier des offres de casting en les contactant par téléphone, afin de garantir la crédibilité des annonces.</p>
        <br />
        <p>MegaCasting vise à être une plateforme de rencontre entre les professionnels à la recherche de nouveaux talents et les artistes désireux de faire leurs débuts dans le monde du spectacle.</p>
    </div>
{% endblock %}
