// NavBar
body
    section#navbar-top
        padding: 10px 5vw
        background-color: #425F57
        nav
            ul
                display: flex
                flex-direction: row
                justify-content: space-between
                list-style: none
                margin: 0
                padding: 0
                align-items: center
                li
                    a
                        color: white
                        text-decoration: none
                    ul.authentification
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        list-style: none
                        min-height: fit-content
                        align-items: center
                        width: fit-content
                        li
                            min-height: 40px
                            display: flex
                            align-items: center
                            a
                                color: white
                                text-decoration: none
                                padding: 8px
                                background-color: #749F82
                                border-radius: 10px
                                &:hover
                                    color: #CFFF8D
                                    padding: 10px
                                    transition: 0.2s
                            &:first-child
                                margin-bottom: 5px
body
    margin: 0
    padding: 0
    background-color: white
