{% extends '/base.html.twig' %}
{% block body %}
    <h1>Liste des castings</h1>
    {% if castings %}
        <table>
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Intitulé</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>

                {% for casting in castings %}
                    <tr>
                        <td>{{ casting.id }}</td>
                        <td>{{ casting.Intitule }}</td>
                        <td>{{ casting.description }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p>Aucun casting n'a été trouvé.</p>
    {% endif %}
{% endblock body %}
