{% extends '/base.html.twig' %}
{% block body %}
    {% if casting %}
        <table>
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Intitulé</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ casting.id }}</td>
                    <td>{{ casting.Intitule }}</td>
                    <td>{{ casting.description }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>Ce casting n'existe pas.</p>
    {% endif %}
{% endblock body %}
